<div class="container d-flex flex-column flex-wrap justify-content-center w-75 mt-5">
<h1>List : <%=@list.name%></h1>
  <ul class= "list-group">
    <% @bookmarks.each do |bookmark| %>
      <li class="list-group-item d-flex flex-column align-items-start mb-2">
        Movie Title : <%=bookmark.movie.title %>  | Comment : <%=bookmark.comment %> <%= link_to "Delete", bookmarks_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }   %>
      </li>
    <% end %>
  </ul>
  <div class="card mt-4">
    <div class="card-header">
      <h2>Add Bookmark</h2>
    </div>
    <div class="card-body">

      <%=  simple_form_for @bookmark, url: list_bookmarks_path(@list) do |f| %>
        <div class="mb-3">
          <%= f.label :comment %>
          <%= f.text_area :comment, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :movie_id %>
          <%= f.collection_select :movie_id, Movie.all, :id, :title, { prompt: 'Select a movie' }, { class: "form-control" } %>
        </div>
        <div class="mb-3">
          <%= f.submit "Add Bookmark", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>


</div>
    <div class="btn btn-danger mt-10"><%= link_to "Back Home", lists_path(@lists) %></div>
</div>
